@import "tailwindcss";
@tailwind utilities;

/* index.css */
@layer base {
  body {
    font-family: 'Josefin Sans', sans-serif !important;

  }
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Or simply: */
body {
  font-family: 'Josefin Sans', sans-serif !important;
}